<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.unage.repository.MemberRepository">

    <select id="findById" parameterType="Member">
        SELECT *
        FROM MEMBER
        WHERE USERID = #{userId}
    </select>

    <insert id="addMember" parameterType="Member">
        INSERT INTO MEMBER (USERID, USERNAME, PASSWORD, PHONE, EMAIL, CREATE_DATE, AUTH, ADDRESS)
        VALUES (#{userId}, #{userName}, #{password}, #{phone}, #{email}, SYSDATE, 0, #{address})
    </insert>

    <select resultType="Integer" id="idCheck" parameterType="String">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USERID = #{userId}
    </select>

    <select resultType="Integer" id="emailCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <select resultType="Integer" id="phoneCheck">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE PHONE = #{phone}
    </select>

    <select resultType="boolean" parameterType="Member" id="login">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USERID = #{userId}
          AND PASSWORD = #{password}
    </select>

    <select resultType="String" parameterType="Member" id="findId">
        SELECT USERID
        FROM MEMBER
        WHERE USERNAME = #{userName}
          AND EMAIL = #{email}
    </select>

    <select resultType="String" parameterType="Member" id="findPw">
        SELECT USERID
        FROM MEMBER
        WHERE USERID = #{userId}
          AND EMAIL = #{email}
    </select>

    <select parameterType="Member" id="updatePw">
        UPDATE MEMBER
        SET PASSWORD = #{password}
        WHERE USERID = #{userId}
    </select>
</mapper>