<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.unage.repository.MemberRepository">

    <insert id="addMember" parameterType="Member">
        INSERT INTO MEMBER (USERID, USERNAME, PASSWORD, PHONE, EMAIL, CREATE_DATE, AUTH, ADDRESS)
        VALUES (#{userId}, #{userName}, #{pwd}, #{phone}, #{email}, SYSDATE, 0, #{address})
    </insert>

    <select resultType="boolean" id="idCheck" parameterType="String">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USERID = #{userId}
    </select>

    <select resultType="boolean" id="emailCheck" parameterType="String">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <select resultType="boolean" parameterType="Member" id="login">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE USERID = #{userId}
          AND PASSWORD = #{pwd}
    </select>

    <select resultType="String" parameterType="Member" id="findId">
        SELECT USERID
        FROM MEMBER
        WHERE USERNAME = #{userName}
          AND EMAIL = #{email}
    </select>

    <select resultType="boolean" parameterType="Member" id="findPwCheck">
        SELECT USERID
        FROM MEMBER
        WHERE USERID = #{userId}
          AND EMAIL = #{email}
    </select>

    <select resultType="String" parameterType="Member" id="findPw">
        UPDATE MEMBER
        SET PASSWORD = #{pwd}
        WHERE EMAIL = #{email}
          AND USERID = #{userId}
    </select>
</mapper>