<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="PwdForm">
    <body>
    <div class="modal-header">
        <h5 class="smaller lighter blue no-margin modal-title">Find Your Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <p>가입하신 이메일로 임시 비밀번호가 발송됩니다 :)</p>
        <form method="post" th:action="@{/member/findPw}">
            <div class="form-group">
                <label for="Id">ID</label>
                <input type="text" id="Id" name="userId">
            </div>
            <div class="form-group">
                <label for="email">E-MAIL</label>
                <input type="text" id="email" name="email">
            </div>
            <input type="button" id="btn-findPw" value="CONFIRM"/>
            <button type="button" data-dismiss="modal">CLOSE</button>
        </form>
    </div>

    <div class="findPw">
        <h4>발송 완료! 입력하신 이메일로 임시비밀번호가 발송되었습니다.</h4>
    </div>

    <div class="notFindPw">
        <h4>존재하지 않는 회원입니다 :(</h4>
        <input type="button" value="REGISTER" th:onclick="|location.href='@{/member/join}'|">
    </div>
    </body>
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".findPw").hide();
            $(".notFindPw").hide();
        });

        $("#btn-findPw").click(function () {
            let userId = $("#Id").val();
            let email = $("#email").val();

            if (userId === "") {
                alert("아이디를 입력해주세요.");
                $("#Id").focus();
                return false;
            }
            if (email === "") {
                alert("이메일을 입력해주세요.");
                $("#email").focus();
                return false;
            }

            $.ajax({
                url: "/member/findPw",
                type: "POST",
                data: {userId: userId, email: email},
                success: function (data) {
                    if (data === "") {
                        $(".notFindPw").show();
                        $(".modal-body").hide();
                        $(".findPw").hide();
                    } else {
                        $(".findPw").show();
                        $(".modal-body").hide();
                        $(".notFindPw").hide();
                    }
                }, error: function () {
                    console.log("실패");
                }
            });
        });
    </script>
</th:block>
</html>