<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>unage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <h1>LOGIN</h1>

    <form th:action="@{/member/login}" method="post" name="loginForm">
        <div class="login_id">
            <label for="userId">ID</label>
            <input type="text" id="userId" name="userId">
        </div>
        <div class="login_pw">
            <label for="pwd">PASSWORD</label>
            <input type="password" id="pwd" name="pwd">
        </div>
        <div class="submit">
            <input type="submit" value="LOGIN" id="btnSubmit">
            <input type="button" value="REGISTER" th:onclick="|location.href='@{/member/join}'|">
        </div>
    </form>

    <a data-toggle="modal" data-target="#IdModal" th:href="@{/member/findId}" role="button">Forgotten ID?</a>
    <a data-toggle="modal" data-target="#PwdModal" th:href="@{/member/findPw}" role="button">Forgotten password?</a>

    <div id="IdModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="PwdModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>

<script th:inline="javascript">
    $("#btnSubmit").click(function (){
        if ($("#userId").val() === "") {
            alert("아이디를 입력해주세요.");
            $("#userId").focus();
            return false;
        }
        if ($("#pwd").val() === "") {
            alert("비밀번호를 입력해주세요.");
            $("#pwd").focus();
            return false;
        }
    });
</script>
</html>