html, body {
    height: 100%;
}

header {
    height: 80px;
    background-color: lightcoral;
    display: flex;
}

.container {
    position: relative;
    min-height: 70%;
    padding-bottom: 114px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightcoral;
}

.slick-prev {
    left: 160px;
    z-index: 1; /*작은 값의 요소 위를 덮는다*/
}

.slick-next {
    right: 160px;
    z-index: 1;
}

.slide_div img {
    max-width: 85%;
    height: auto;
    display: block; /*width 100%, 가로 한 줄 다차지*/
    margin: auto; /*바깥 여백 영역*/
}

.slide_div_wrap {
    padding: 15px 0 15px 0;
}
